### Pacotes

In [1]:
import pandas as pd
import numpy as np

### Importando os dados  

Os dados foram formatados e filtrados em outros arquivos.  

Lembrando que, dos mais de 3.3 milhões de inscritos para a prova no ano de 2021, foram removidos da base de dados todos os participantes inscritos como treineiros (uma vez que eles não se beneficiariam de nenhum direito o ENEM proporciona) e os indivíduos que não compareceram em nenhum dos dias da realização do exame (ausentes).  

Nesse primeiro momento, a seguinte análise considerada as variáveis socioeconômicas dos candidatos.

In [56]:
dados = pd.read_csv('C:/Users/Matias/Documents/Projetos_e_Estudos/ENEM_2021/DADOS/ENEM_2021_FINAL.csv',
                    encoding='UTF-8', sep = ',')
dados.shape

(1988276, 15)

### Declarando algumas variáveis

In [5]:
total_inscritos = 3389832

total_nao_treineiros = 2952642

1988276

### Informações do dataset

In [11]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1988276 entries, 0 to 1988275
Data columns (total 15 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Unnamed: 0             int64
 1   num_inscricao          int64
 2   faixa_etaria           object
 3   sexo                   object
 4   raca_cor               object
 5   ano_conclusao          int64
 6   escola                 object
 7   municipio              object
 8   uf                     object
 9   nota_ciencia_natureza  float64
 10  nota_ciencia_humana    float64
 11  nota_linguagens        float64
 12  nota_matematica        float64
 13  redacao                float64
 14  status                 object
dtypes: float64(5), int64(3), object(7)
memory usage: 227.5+ MB

In [9]:
dados.head(10)

,Unnamed: 0,num_inscricao,faixa_etaria,sexo,raca_cor,ano_conclusao,escola,municipio,uf,nota_ciencia_natureza,nota_ciencia_humana,nota_linguagens,nota_matematica,redacao,status
0,0,210053865474,20 anos,Feminino,Branca,3,Não Respondeu,NaN,NaN,0.0,574.6,472.6,0.0,760.0,Não Habilitado
1,1,210052384164,Entre 31 e 35 anos,Masculino,Branca,11,Não Respondeu,NaN,NaN,505.9,551.8,498.3,461.5,560.0,Habilitado
2,3,210052128335,18 anos,Masculino,Parda,0,Pública,Crato,CE,580.7,678.9,638.9,659.5,780.0,Habilitado
3,4,210051353021,17 anos,Feminino,Parda,0,Pública,Redenção,CE,497.7,532.4,457.6,582.6,780.0,Habilitado
4,6,210052615524,24 anos,Feminino,Parda,6,Não Respondeu,NaN,NaN,0.0,511.9,420.4,0.0,480.0,Não Habilitado
5,8,210053417016,23 anos,Feminino,Parda,0,Pública,NaN,NaN,487.4,476.5,450.7,493.4,520.0,Habilitado
6,9,210051128744,19 anos,Feminino,Parda,0,Pública,NaN,NaN,507.6,539.2,494.6,413.3,380.0,Habilitado
7,10,210052320506,20 anos,Feminino,Parda,2,Não Respondeu,NaN,NaN,650.9,617.9,631.7,796.7,980.0,Habilitado
8,11,210054444526,17 anos,Feminino,Branca,0,Pública,NaN,NaN,378.5,502.7,487.7,514.9,680.0,Habilitado
9,12,210053193408,Entre 26 e 30 anos,Masculino,Parda,11,Não Respondeu,NaN,NaN,537.6,476.5,553.2,509.7,560.0,Habilitado

#### Missing Values

Note que mais de 68% das variáveis UF e municípios são valores faltantes, indicando assim que pouco valor pode ser extraído dessas colunas.

In [14]:
#quantidade de missing values de cada variável
num_na = np.array([sum(dados[i].isnull()) for i in list(dados.columns)])
prop_na = num_na/len(dados)

d = {'var':list(dados.columns), 'num_na':num_na, 'prop':prop_na.round(2)}
na_count = pd.DataFrame(data = d).sort_values(by=['num_na'], ascending = False)

na_count

                      var   num_na  prop
7               municipio  1353777  0.68
8                      uf  1353777  0.68
0              Unnamed: 0        0  0.00
1           num_inscricao        0  0.00
2            faixa_etaria        0  0.00
3                    sexo        0  0.00
4                raca_cor        0  0.00
5           ano_conclusao        0  0.00
6                  escola        0  0.00
9   nota_ciencia_natureza        0  0.00
10    nota_ciencia_humana        0  0.00
11        nota_linguagens        0  0.00
12        nota_matematica        0  0.00
13                redacao        0  0.00
14                 status        0  0.00

Apesar do número significativos de missing values,  observe que São Paulo é o estado com o maior número de candidatos.

In [61]:
dados['uf'].value_counts(dropna=True)

SP    118119
CE     62632
MG     52721
RJ     46555
BA     36745
PR     34667
PE     31173
RS     29592
GO     26257
PA     22142
SC     21069
AM     17958
MA     17294
DF     15029
ES     14694
PB     13922
PI     11585
RN     11378
MT     10132
AL      9036
MS      8576
SE      7052
RO      5411
TO      4762
AC      2404
AP      2286
RR      1308
Name: uf, dtype: int64

Como as variáveis mencionadas acima apresentam uma elevada quantidade de valores faltantes, ambas as colunas serão removidas para facilitar o processamento dos dados.

In [62]:
dados = dados.drop(['uf','Unnamed: 0','municipio'],axis=1)
dados.shape

(1988276, 12)

### Tabelas e Medidas

As medidas calculadas aqui consideram somente os inscritos não-treineiros e os candidatos que compareceram em pelo menos um dos dias da realização do exame.

##### Sexo

In [63]:
sexo = dados.groupby('sexo').agg(n = ('sexo','count'))
sexo

                 n
sexo
Feminino   1212066
Masculino   776210